<table class="table">
  <thead>
    <tr>
      <th scope="col">Titulo</th>
      <th scope="col">Descripcion</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of subjects">
      <td scope="row">{{item.title}}</td>
      <td>{{item.description}}</td>
    </tr>
  </tbody>
</table>


<ngb-accordion #acc="ngbAccordion" activeIds="">
    <ngb-panel title="Agregar nueva materia">
      <ng-template ngbPanelContent>
        <form [formGroup]="subjectForm" (ngSubmit)="addSubject()">
          <label for="id">Id</label>
          <input type="number" formControlName="id" class="form-control" required>

          <label for="name">Titulo</label>
          <input type="text" formControlName="title" class="form-control" required>

          <label for="lastname">Descripcion</label>
          <input type="text" formControlName="description" class="form-control" required>

          <br>
          
          <input class="btn btn-success" type="submit" value="Agregar">
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
