<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Correo</th>
      <th scope="col">Contraseña</th>
      <th scope="col">Calificacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of students">
      <td scope="row">{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.lastname}}</td>
      <td>{{item.email}}</td>
      <td>{{item.password}}</td>
      <td>{{ score[item.id - 1] }}</td>
    </tr>
  </tbody>
</table>

<ngb-accordion #acc="ngbAccordion" activeIds="">
    <ngb-panel title="Agregar nuevo estudiante">
      <ng-template ngbPanelContent>
        <form [formGroup]="studentForm" (ngSubmit)="addStudent()">
          <label for="id">Id</label>
          <input type="number" formControlName="id" class="form-control" required>

          <label for="name">Nombre</label>
          <input type="text" formControlName="name" class="form-control" required>

          <label for="lastname">Apellido</label>
          <input type="text" formControlName="lastname" class="form-control" required>

          <label for="email">Correo</label>
          <input type="email" formControlName="email" class="form-control" required>

          <label for="password">Contraseña</label>
          <input type="password" formControlName="password" class="form-control" required>
          <br>
          <input class="btn btn-success" type="submit" value="Agregar">
        </form>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

