<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <img width="218" height="57" src="https://spectrum.com.gt/wp-content/uploads/2016/07/CC-Miraflores-Logo-Ret.png">
    
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" *ngIf="isTeacher == false && isStudent == false" href="#/home">Inicio <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" *ngIf="isStudent == true" href="#/studentDashboard">Mi Perfil</a>
        <a class="nav-item nav-link" *ngIf="isTeacher == true" href="#/teacherDashboard">Mi Perfil</a>
        <a class="nav-item nav-link" *ngIf="isTeacher == true || isStudent == true" (click)="logOut()">Cerrar Sesion</a>
        <a class="nav-item nav-link" *ngIf="isTeacher == false && isStudent == false" (click)="logIn()">Ingresar</a>
      </div>

    </div>
    
  </nav>
  