<div class="container">
  <div id="report" #report>
    <h3>Profesores</h3>
    <table class="table" >
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Materias</th>
      
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of teachers">
            <td scope="row">{{item.name + ' ' + item.lastname}}</td>
            <td>{{item.email}}</td>
            <td>
              <div *ngFor="let subjects of subjectsByTeacher">
                <div *ngIf="subjects.teacherid == item.id">
                    <span *ngFor="let subject of subjects.subjectid">
                        {{getSubjectNameById(subject)  + '.'}}
                    </span>
                </div>
              </div>
            </td>
          </tr>

        </tbody>
      </table>
      <h3>Estudiantes</h3>
      <table class="table" >
            <thead class="thead-dark">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Correo</th>
                <th scope="col">Materias</th>
                <th scope="col">Promedio semestre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of students">
                <td scope="row">{{ item.name + ' ' + item.lastname}}</td>
                <td>{{item.email}}</td>
                <td>
                  <div *ngFor="let subjects of subjectsByStudent"> 
                    <div *ngIf="subjects.studentId == item.id">
                        <span *ngFor="let subject of subjects.subjectsId">
                            {{getSubjectNameById(subject) + '.'}}
                        </span>
                    </div>
                  </div>  
                </td>
                <th scope="col">{{getRandomNumber()}}</th>

              </tr>

            </tbody>
          </table>
        </div>
  <button class="btn btn-success" (click)="generateReport()">Generar Reporte</button>
</div>

