<app-navbar></app-navbar>
<div class="container ">
    <h4 class="pt-4">Bienvenido estudiante {{student.name + " " +student.lastname}}</h4><hr>
    <p>Las siguientes son tus materias asignadas</p>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Materia</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Nota del semestre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of studensSubjects">
          <td scope="row">{{ item.title }}</td>
          <td>{{ item.description }}</td>
          <td>{{ getRandomNumber() }}</td>
        </tr>
      </tbody>
    </table>
</div>