
<div id="wrapper" class="toggled">
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <a>
                <img width="218" height="57" src="https://spectrum.com.gt/wp-content/uploads/2016/07/CC-Miraflores-Logo-Ret.png">
              </a>
          </li>
          <li>
              <a (click)="checkStudents()">Revisar estudiantes</a>
          </li>
          <li>
              <a (click)="checkTeachers()">Revisar profesores</a>
          </li>
          <li>
              <a (click)="checkSubjects()">Revisar materias</a>
          </li>
          <li>
              <a (click)="checkReport()">Revisar informe</a>
          </li>
          <li>
                <a (click)="logOut()">Cerrar sesion</a>
            </li>
      </ul>
  </div>

  
  
<div *ngIf="checkstudents == true">
    <app-check-student></app-check-student>
</div>

<div *ngIf="checkteachers == true">
    <app-check-teacher></app-check-teacher>
</div>

<div *ngIf="checksubjects == true">
    <app-check-subject></app-check-subject>
</div>

<div *ngIf="checkreport == true">
    <app-generalinfo></app-generalinfo>
</div>



  
</div>
