<app-navbar></app-navbar>

<div class="container">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Colegio Miraflorez</h1>
    <p class="lead">Hola! esta es una herramienta desarrollada para la administracion de materias, profesores y estudiantes.</p>
  </div>
</div>
</div>