<body class="text-center" *ngIf="isLogged != true">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="checkLogin()">
      <img class="mb-4" src="https://vignette.wikia.nocookie.net/liga-mx/images/9/9e/Sin_Escudo.png/revision/latest?cb=20170224183601&path-prefix=es" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Escribe tus credenciales en el siguiente formularios</h1>
      <label for="inputEmail" class="sr-only">Correo</label>
      <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Correo" required autofocus>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Contraseña" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>
  </body>