<app-navbar></app-navbar>
<div class="container ">
  <h4 class="pt-4">Bienvenido profesor {{ teacher.name + " " +teacher.lastname }}</h4><hr>
  <p>Las siguientes son las materias a tu cargo</p>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Materia</th>
        <th scope="col">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of teacherSubjects">
        <td scope="row">{{item.title}}</td>
        <td>{{item.description}}</td>
      </tr>
    </tbody>
  </table>
</div>